body {
  padding: 50px;
  font: 100% "Open Sans Condensed", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navbar {
  background-color: #062a47;
  color: #9B9B9B; }

.navbar ul {
  list-style: none;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
  margin-bottom: 0; }

.active {
  color: #fff!important; }

li {
  display: inline-block;
  margin: 0 20px 0 0;
  font-size: 100%;
  font-family: "Source Sans Pro", sans-serif; }

.navbar a {
  text-decoration: none;
  color: #9B9B9B; }

.navbar a:hover {
  color: #b5b5b5; }

.on{
  stroke: #0033FF;
  stroke-width: 10;
}
